h3 {
   color: brown;
   text-decoration: underline;
  
}

img {
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.phlist {
   border-right: dashed;
   border-left: dashed;
    border-color: black;
    border-width: 1px;
}

.photos {
   text-align: center;
   
}