.chores {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    color: purple;
   
}

h3 {
    text-decoration: underline;
}

ul {
    font-style: italic;
    border-left: dashed;
    border-right: dashed;
    border-color: black;
    border-width: 1px;
}